src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="234f1c1f-e51e-473e-b824-897dff0af47f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="5922b488-8f31-44c9-8e9a-f7f626c91d4c" environment="${mule.env}" logLocationInfo="false" disabledFields="message" contentFieldsDataMasking="$..id" >
		<json-logger:external-destination >
			<json-logger:jms-destination jmsConfigurationRef="JMS_Config" queueDestination="jsonlogger" />
		</json-logger:external-destination>
	</json-logger:config>
	<configuration-properties doc:name="Configuration properties" doc:id="211943d7-8664-454c-8e2d-1b504630e63c" file="logger.properties" />
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="bc663b84-8622-4b32-b1f6-d00e45622084" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="testFlow1" doc:id="7d4424c1-b2c9-4424-a6e2-32a74843f4ed" >
		<http:listener doc:name="Listener" doc:id="26c551c7-8ddf-4420-a9e9-e9287c87c9b8" config-ref="HTTP_Listener_config2" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4deed4d0-cede-4553-acc4-ae0b47e9e889" />
	</flow>
	<flow name="testFlow" doc:id="f11e03b7-ab51-40ee-87c1-c108ae568f74" >
		<http:listener doc:name="Listener" doc:id="f420495e-db62-4a35-84bd-96bd9661c4c2" config-ref="HTTP_Listener_config2" path="/jsonlogger"/>
		<json-logger:logger doc:name="Copy_of_Logger" doc:id="47b3f1b8-0c8c-468e-844a-997cbce7378f" config-ref="JSON_Logger_Config" message="hiiiii" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="c47ec72e-d2c9-43f7-9c0b-43c5950776e9" />
	</flow>
</mule>
